<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
      <link href="../css/style1.css" rel="stylesheet">


<style type="text/css">
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="form"] {
        width: 85%;
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    [class*="form"] {
        width: 85%;
        padding: 10px;
    }
}
</style>

</head>

<body>
  
<div class="container">

  <div class="info">
    <h1>Online Food Ordering System</h1>
  </div>
  {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
</div>
<div class="form">
  

  <div class="thumbnail"><img src="../images/restaurant-menu.png"/></div>
  <form action="/users/forgot" method="post"  class="login-form">

    <input name="email" type="text" placeholder="email" required="true" />
    
    <button type="submit" class="btn btn-default regbutton">Send</button>
    
  </form>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type= text/javascript src="/js/index1.js"></script>
    



</body>
</html>
