<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <title>Food FFODDDrder System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/ngcart.css" rel="stylesheet">
    <link href="css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="css/ngDialog.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <script type= text/javascript src="js/ngCart.js"></script>
    <script type= text/javascript src="js/ngCart.directives.js"></script>
    <script type= text/javascript src="js/ngCart.fulfilment.js"></script>
    <script type= text/javascript src="js/FoodApp.js"></script>

    <script type= text/javascript src="/js/ngDialog.min.js"></script>
    
    <style type="text/css">
        .modal-dialog {
            max-width: 400px;
        }

        .thumbnail {
            margin-bottom: 6px;
        }
        .navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 130%;
  padding: 15px;
  width: auto;
  margin-top: -5px;
}
    </style>

    <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body ng-app="FoodApp">


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/"><img src="images/foodban1.png" alt="Food Order System">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                    <li role="presentation"><a href="/#/">Dashboard</a></li>
                    
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">My Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/userprofile">My Profile</a></li>
                            <li><a href="/#/history">History</a></li>
                            <li><a href="/#/editmenu">Edit Menu</a></li>
                            <li><a href="/#/cart">Cart</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                                <li>
                    <a a href="/#/cart" style="padding: 5px 0 0 0; margin-right: 15px; width:150px">
                        <ngcart-summary></ngcart-summary>
                    </a>
                </li>
            </ul>
                    <li role="presentation"><a href="/users/logout">Logout</a></li>
                    
                {{else}}
                    <li role="presentation"><a href="/users/login">Login</a></li>
                    <li role="presentation"><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        
        
    </div>


    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
        </div>
    </div>

    <div class="col-md-offset-2 col-md-8">
        <div ng-view>
        </div>


    <footer>
        <p>Online Food Order System &copy; 2017 Brendan Smith.</p>
    </footer>
    </div>
</div> <!-- /container -->
    

    
    

    
</body>
</html>
